* {
    margin: 0px;
    box-sizing: border-box;
    font-family: helvetica;
    outline: none;
    padding: 0px;
    background-color: #660708;
}

.container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.calculator {
    padding: 16px;
    border-radius: 30px;
    background-color: #000814;
    display: grid;
    grid-template-columns: repeat(4, 68px);
    box-shadow: inset -5px -5px 12px #000a1a, 5px 5px 12px #0b090a;
}

input {
    height: 70px;
    width: 270px;
    grid-column: span 4;
    background-color: #f5f3f4;
    box-shadow: inset -5px -5px 12px #dee2e6, 5px 5px 12px #0b090a;
    border: none;
    border-radius: 30px;
    color: #293241;
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
}

button {
    background-color: #ffffff;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
    box-shadow: -5px -5px 12px #0b090a, 5px 5px 12px #0b090a;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #9a031e;
}

.hasil {
    width: 115px;
    border-radius: 45px;
    box-shadow: inset -5px -5px 12px #dee2e6, 5px 5px 12px #212529;
}

.smbl {
    background-color: #660708;
    color: #ffffff;
}

button:hover {
    background-color: #cccccc;
}

.smbl:hover {
    background-color: #7c222a;
}